     
     /* -------max-width:1200px----------- */

@media screen and (max-width:1200px) {

    /* header */
    nav {
        width: 100%;
        height: auto;
        padding: 0px 30px;
    }

    nav ul li {
        padding: 10px;
    }

    /* banner section */
    .banner {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .banner .banner-header h1 {

        padding: 50px 0px 10px 50px;
        font-size: 40px;
    }

    .banner .banner-header h3 {
        font-size: 15px;
        padding: 0px 50px;
    }

    .banner .search-banner {
        margin-top: 5%;
        height: auto;
    }

    .banner .search-banner .search-input input[type=text] {
        width: 160px;
    }

    /* features section  */
    .features {
        width: 100%;
        height: auto;
        padding: 20px 50px;
    }

    /* subscribe section */
    .subscribe {
        height: auto;
    }

    /* visit section */
    .destination {
        height: auto;
    }

    /* help section */
    .help-section {
        height: auto;
        padding: 10px 80px;
    }

     .help-section input[type],
    .help-section select {
        width: 150px;
        height: 40px;
        padding: 10px 20px;
    } 

    /* blog section */
    .blog {
        height: auto;
        padding: 10px 40px;
    }

    /* footer section */
    footer {
        height: auto;
        padding: 10px 80px;
    }
}

    /* ------------max-width:991px-------------- */

@media screen and (max-width:991px) {

    /* nav section */
    nav {
        padding: 0px;
    }

    nav img {
        width: 130px;
    }

    nav ul li a {
        font-size: 12px;
    }

    nav ul li {
        padding: 5px;
    }

    nav ul li img {
        width: 18px;
        height: auto;
    }
    .banner .search-banner .search-input input[type=text],
    .search-banner .search-input select {
        width: 80%;
        height: 30px;
        padding: 3px;
        font-size: 12px;
        display: inline-block;
        margin: 3px;
        color: #000;
        text-align: center;
        background-color: rgba(248, 247, 247, 0.7);
    }
    .banner .search-banner .search-input ::placeholder {
        color: #000;
    }
.search-banner .search-input ul li {
        display: block;
        text-align: center;
    }
    .search-banner .search-input .icon,
    .search-banner .search-input span
     {
        display: none;
    }

    .search-banner .search-input .search-btn {
        padding:  5px;
        border-radius: 10px;
        width: 80%;
        
    }

    .booking-details input[type=checkbox] {
        width: 15px;
    }

    .booking-details ul li {
        padding: 3px;
    }

    /* faetures section */
    .features {
        padding: 20px;
    }

    .features h1 {
        font-size: 20px;
        padding: 10px;
    }

    .features .activity-box {
        grid-gap: 5px;
        justify-content: center;
    }

    .features .activity-content span {
        font-size: 40px;
    }

    .features .activity-content h2,
    p {
        font-size: 14px;
    }

    .features .activity-content p {
        padding: 2px;
    }

    /* subscribe section */
    .subscribe .subscribe-content {
        padding: 10px;
        width: 500px;
    }

    .subscribe .subscribe-content p {
        font-size: 12px;
    }

    .subscribe .email-input input[type],
    button {
        margin-top: 30px;
        padding: 12px 20px;
    }

    /* visit section */
    .destination {
        padding: 20px;
    }

    /* help section */
    .help-section {
        padding: 10px 50px;
    }

    .help-section h3 {
        margin-bottom: 30px;
    }

    .help-section input[type],
    .help-section select {
        width: 120px;
        height: 40px;
        padding: 5px 10px;
    }

    .help-section button {
        width: 130px;
        height: 40px;
        padding: 5px;
        font-size: 12px;
    }

    /* footer section */
    footer {
        padding: 20px 50px;
    }

    footer .bottom-list a {
        font-size: 12px;
        padding: 5px;
    }
}

/*------------ max-width:767px---------------- */

@media screen and (max-width:767px) {

    /* nav section */
    * {
        overflow-x: hidden;
    }

    nav .brand img {
        width: 80px;
        height: 17px;
    }

    /* banner section */
    .banner .banner-header h1 {
        padding: 50px 0px 0px 0px;

    }

    .search-banner .search-input button {
        padding: 5px;
        font-size: 12px;
        font-weight: 400;
    }

    .banner .search-banner {
        padding: 0px;
        box-shadow: 2px 4px 7px 2px rgb(45, 0, 45);
    }

    .search-banner .search-input {
        padding: 10px;
        text-align: center;
        justify-content: center;
    }

    .search-banner .search-input ul li span {
        display: none;
    }
    .search-banner .search-input .search-btn {
        width: 500px;
        border-radius: 10px;
        padding: 5px;
        margin-top: 5px;
    }
    .banner .search-banner .search-input input[type=text],
    .search-banner .search-input select {
        width: 500px;
        height: 30px;
        padding: 3px;
        font-size: 12px;
        display: inline-block;
        margin: 3px;
        text-align: center;
        background-color: rgba(248, 247, 247, 0.7);
    }

    .search-banner .search-input ::placeholder,
    .search-banner .search-input select {
        color: #000;
    }

    .booking-details ul li {
        font-size: 14px;
    }

    .search-banner .booking-details input[type=checkbox] {
        width: 10px;
    }

    /* features section */
    .features h1 {
        font-size: 15px;
    }

    .features .activity-box {
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
    }

    .features .activity-content {
        padding: 8px;
    }

    .features .activity-content p {
        font-size: 12px;
    }

    /* newsletter section */
    .subscribe .subscribe-content h1 {
        font-size: 15px;
    }

    .subscribe .email-input input[type=email] {
        width: 350px;
    }

    .subscribe .email-input {
        width: 800px;
    }

    /* visit section */
    .destination ul {
        grid-template-columns: repeat(2, 45%);
        grid-gap: 35px;
        grid-template-rows: auto;
        justify-content: center;
    }

    /* help section */
    .help-section {
        padding: 20px 10px;
    }

    .help-section h1,
    h3 {
        font-size: 15px;
    }

    .help-section h3 {
        margin-bottom: 70px;
    }

    .help-section input[type],
    .help-section select {
        display: block;
        width: 70%;
        height: 30px;
        padding: 2px 4px;
        margin: 3px auto;
    }

    .help-section button {
        width: 70%;
    }

    /* blog section */
    .blog {
        padding: 10px 50px;
        text-align: center;
        margin-bottom: 10px;
    }

    .blog .blog-container img {
        width: 300px;
        height: 180px;
    }

    .blog h1 {
        font-size: 15px;
        padding: 5px;
    }

    .blog .blog-container ul {
        margin-top: 10px;
        display: block;
    }

    .blog .blog-container h4 {
        font-size: 12px;
    }

    .blog .blog-container ul li p {
        margin-top: 10px;
        padding: 0px;
    }
    .blog .blog-container ul li hr {
       margin: auto;
    }
    .blog p {
        padding: 0px 20px;
    }
    /* footer sction */
    footer {
        padding: 10px;
        font-size: 10px;
    }

    footer .bottom-list {
        display: block;
    }

    footer .bottom-list .social-icon li {
        padding: 5px;
    }

    .bottom-list .social-icon {
        justify-content: center;
    }
}

/* --------------max-width:575px--------------- */

@media screen and (max-width:575px) {

    /* nav section */
    nav {
        justify-content: center;
    }

    nav ul li {
        display: none;
    }

    /* banner section */
    .banner {
        padding: 20px;
    }

    .banner .banner-header h1 {
        font-size: 30px;
    }

    .banner .banner-header h3 {
        font-size: 13px;
    }

    .banner .search-banner {
        width: 100%;
    }

    .banner .search-banner button {
        font-size: 10px;
    }

    .banner .search-banner .search-input input[type=text],
    .search-banner .search-input select {
        width: 90%;
        font-size: 11px;
        color: #000;
    }

    .search-banner .search-input .search-btn {
     width: 90%;
     font-size: 10px;
        border-radius: 7px;
    }

    .search-banner .booking-details ul {
        display: inline-block;
        padding-left: 10px;
        margin-top: 5px;
    }

    .search-banner .booking-details ul li,
    .search-banner .booking-details select {
        font-size: 10px;
        padding: 0px;
    }

    /* -----newsletter section----- */
    .subscribe .subscribe-content {
        width: 300px;
    }

    .subscribe .email-input input[type=email] {
        width: 200px;
        padding: 10px 0px;
    }

    /* -----destination section------ */
    .destination ul {
        grid-gap: 5px;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        justify-content: center;
    }

    .destination .visit-content {
        padding: 0px;
    }

    /* ---------help section---------- */
    .help-section h3 {
        margin-bottom: 60px;
    }

    /* ------footer section----------- */
    footer {
        font-size: 12px;
    }

    footer .top-cities {
        display: block;
        padding: 20px;
    }

    footer .bottom-list li {
        padding: 2px;
    }

    footer .bottom-list img {
        display: none;
    }

    footer .bottom-list .social-icon a {
        border-radius: 10px;
        padding: 6px;
        font-size: 10px;
    }
}

/* end */