@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

/* ------nav section starts------- */
nav {
    width: 100%;
    height: 70px;
    padding: 0px 150px;
    background-color: #101B37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

nav ul {
    display: flex;
}

nav .brand img {
    width: 130px;
    height: 25px;
}

nav ul li {
    list-style: none;
    padding: 20px;
}


nav ul li a.active,
nav ul li a:hover {
    color: #de5060;
}

/* ------nav section ends------- */

/* ------banner section starts--------- */
.banner {
    width: 100%;
    height: 120vh;
    padding: 0px 150px;
    background:url(../img/wallpaperflare-cropped.jpg) no-repeat center;
    background-size: cover;
}

.banner .banner-header h1 {
    color: #000;
    font-weight: 200;
    font-size: 70px;
    padding: 100px 0px 20px 0px;
}

.banner .banner-header h3 {
    color: #080808;
    font-size: 30px;
    font-weight: 500;
}

.banner .search-banner {
    width: 100%;
    height: 25vh;
    margin-top: 18%;
    background-color: rgba(99, 1, 131, 0.7);
}

.banner .search-banner button {
    margin: 0px 2px 5px 2px;
    background-color: rgba(42, 1, 56, 0.7);
    border: 0;
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
}

.banner .search-banner button.active,
.banner .search-banner button:hover {
    background-color: rgba(223, 19, 19, 0.7);
}

/* input section starts */
.search-banner .search-input {
    padding: 10px 0px 0px 10px;
    color: #fff;
}

.search-banner .search-input ul li {
    display: inline-block;
    list-style: none;
}

.search-banner .search-input input[type=text] {
    width: 200px;
    height: 40px;
    padding-left: 25px;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}

.search-banner .search-input .icon {
    padding: 9px 7px 0px 7px;
    color: gray;
    position: absolute;
    font-size: 16px;
}

.search-banner .search-input select {
    width: 130px;
    height: 40px;
    color: gray;
    font-size: 15px;
    border-radius: 5px;
}

.search-banner .search-input .search-btn {
    margin-left: 20px;
    font-weight: bold;
    padding: 30px 20px;
    background: linear-gradient(rgba(197, 2, 113, 0.8), rgba(236, 37, 37, 0.8));
    border-radius: 50%;
}


.search-banner .booking-details {
    display: flex;
}

.search-banner .booking-details ul {
    display: flex;
}

.search-banner .booking-details ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #c4e5f6;
    font-size: 14px;
}

.search-banner .booking-details select {
    height: 20px;
    width: 170px;
    background-color: transparent;
    padding: 0px;
    color: #baddef;
    border: 0;
}

.search-banner .booking-details label {
    padding-left: 10px;
}
/* input section ends */
/* --------/banner section ends------------ */

/* --------games section start--------- */
.features {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
        url(../img/funbg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 30px 100px;
}

.features h1 {
    font-size: 30px;
    padding: 30px 0px 20px 0px;
}

.features .activity-box {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-gap: 20px;
}

.features .activity-content {
    height: auto;
    padding: 20px 10px;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.7);
}

.features .activity-content:hover {
    box-shadow: 0px 2px 4px black;
}

.features .activity-content hr {
    background-color: gray;
    border: 0;
    height: 1px;
}

.features .activity-content span {
    font-size: 50px;
}

.features .activity-content h2 {
    font-size: 14px;
    margin-top: 10px;
}

.features .activity-content p {
    font-size: 15px;
    font-weight: 200;
    padding: 5px;
}

/* features section ends */
.subscribe {
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(60, 2, 121, 0.6), rgba(76, 2, 126, 0.6)),
        url(../img/aeroplane-pictures-n2k6ba71eizhgdb1.webp) no-repeat center;
    background-size: cover;
}

.subscribe .subscribe-content {
    padding: 50px;
    width: 700px;
    color: #fff;
}

.subscribe .subscribe-content h1 {
    text-transform: uppercase;
    padding: 20px;
}

.subscribe .email-input {
    width: 800px;
}

.subscribe .email-input input[type],
button {
    margin-top: 80px;
    padding: 17px 27px;
}

.subscribe .email-input input[type=email] {
    width: 530px;
    background-color: transparent;
    border: 1px solid #fff;
}

.subscribe .email-input ::placeholder {
    color: #fff;
    font-size: 15px;
}

/* ------Subscribe section ends-------- */

/* --------destination  section strts-------- */
.destination {
    width: 100%;
    height: 130vh;
    background-color: #1F172F;
    padding: 50px 100px;
}

.destination h1 {
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 20px;
    font-size: 30px;
}

.destination ul {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: 350px 350px;
    grid-gap: 20px;
}

.destination ul li {
    list-style: none;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    border: 3px solid #fff;
}

.destination .img-top img {
    width: 100%;
    height: 180px;
}

.destination .visit-content {
    padding: 10px;
}

.destination .visit-content span {
    color: #F88B0A;
}

.destination .visit-content h3 {
    font-size: 16px;
    padding-top: 10px;
}

.destination .visit-content p {
    padding: 10px;
}

/* --------destination section ends-------- */

/* ---------estimate section starts------- */
.help-section {
    width: 100%;
    height: 30vh;
    text-align: center;
    background: url(../img/helpimg.png) no-repeat 100% 100%;
    background-color: #654DAD;
    color: #fff;
    padding: 50px 180px;
}

.help-section h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

.help-section input[type],
.help-section select {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
}

.help-section button {
    background-color: #F88B0A;
    border: 0;
}

.help-section button:hover {
    background-color: #583000;
    color: #fff;
}

.help-section form {
    margin-top: -50px;
}

/* -------estimate section ends---------- */

/* ----------blog section starts------------ */
.blog {
    width: 100%;
    height: auto;
    padding: 50px; 
}

.blog h1 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.blog p {
    padding: 0px 150px;
}

.blog .blog-container ul {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.blog .blog-container ul li {
    padding: 10px;
}

.blog .blog-container ul li hr {
    width: 40px;
    border: 0;
    height: 2px;
    background-color: #F88B0A;
}

.blog .blog-container ul li span {
    font-size: 13px;
}

.blog .blog-container img {
    width: 200px;
    height: 200px;
}

.blog .blog-container ul li p {
    margin-top: 40px;
    padding: 0px;
}

/* ------blog section ends------------ */

/* -------footer sectio n starts---------- */
footer {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(20, 0, 31, 0.9), rgba(20, 0, 31, 0.9)), url(../img/bgfooter.png) no-repeat center;
    background-size: cover;
    padding: 30px 150px;
    color: #fff;
}

footer .top-cities {
    display: flex;
    justify-content: space-evenly;
}

footer .top-cities ul {
    list-style: none;
    margin-top: 20px;
}

footer .top-cities ul li  {
    padding: 6px 0px;
    cursor: pointer;
}

footer .top-cities img {
    vertical-align: middle;
    padding: 5px 0px;
}

footer .top-cities span {
    color: gray;
}

footer .bottom-list ul {
 display: flex;
    list-style: none;
    align-items: center;
    margin-top: 30px;
}

footer .bottom-list {
 display: flex;
    justify-content: space-around;
}

footer .bottom-list a {
    padding: 10px;
}

footer .bottom-list .social-icon li {
    padding: 5px;
}

footer .bottom-list .social-icon a {
    color: black;
    padding: 8px 10px;
    font-size: 14px;
    background-color: #cbc8c8;
    border-radius: 50%;
}

footer .top-cities ul li :hover,
footer .bottom-list li a:hover {
    color: rgb(129, 5, 106);
}

footer .bottom-list .social-icon a:hover {
    background-color: #080707;
    color: #9476e6;
}

/* footer section ends */